<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="EasyExplorer.rightclick">
        <visibility>
           <or>
              <objectClass
                    name="org.eclipse.core.resources.IResource">
              </objectClass>
              <objectClass
                    name="org.eclipse.jdt.core.IJavaProject">
              </objectClass>
              <objectClass
                    name="org.eclipse.jdt.core.IJavaElement">
              </objectClass>
           </or>
        </visibility>
         <action
               class="easyexplorer.popup.actions.OpenExplorer"
               enablesFor="1"
               icon="icons/easyexplore.gif"
               id="EasyExplorer.openExplorer"
               label="Easy Explorer">
         </action>
      </objectContribution>
   </extension>

</plugin>
